.gnb-icon-button {
  $badge-size: 16px;

  @include flexbox;
  position: relative;
  width: 32px;
  height: 32px;
  font-size: 24px;
  color: $secondary;
  border-radius: 50%;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

  &.is-menu {
    color: $blue;

    &:active {
      color: $blue-dark;
    }
  }

  &.is-cart {
    i {
      position: relative;
      top: 1px;
      right: 1px;
    }
  }

  &:active {
    color: $primary;
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    min-width: $badge-size;
    height: $badge-size;
    padding: 0 4px;
    font-size: 10px;
    line-height: 16px;
    color: $white;
    text-align: center;
    letter-spacing: -0.01em;
    background-color: $red;
    border-radius: $badge-size / 2;
  }

  @include responsive(T) {
    &:hover {
      color: $white;
      background-color: $blue;
    }
  }
}
