.my-menu {
  $button-size: 32px;
  $tooltip-size: 12px;
  position: relative;

  &.is-active {
    .my-menu-button {
      border-color: $blue;
    }

    .my-menu-content {
      opacity: 1;
      visibility: visible;
      transform: translate3d(-50%, 0, 0);
    }
  }

  &-button {
    width: $button-size;
    height: $button-size;
    overflow: hidden;
    background-image: url('../../assets/images/img-user-default.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: 3px solid $white;
    border-radius: 50%;
    transition: border-color 200ms ease-in-out;

    &:hover {
      border-color: $blue;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    @include pos-center-x;
    top: $button-size + $tooltip-size + 8px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    box-shadow: $dropdown-shadow;
    transform: translate3d(-50%, -10px, 0);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out,
      visibility 200ms ease-in-out;

    &::before,
    &::after {
      @include pos-center-x;
      top: -#{$tooltip-size * 2};
      display: block;
      width: 0;
      height: 0;
      content: '';
      border-top: $tooltip-size solid transparent;
      border-right: 10px solid transparent;
      border-bottom: $tooltip-size solid transparent;
      border-left: 10px solid transparent;
    }

    &::before {
      border-bottom-color: $border;
    }

    &::after {
      top: -#{$tooltip-size * 2 - 2px};
      border-bottom-color: $white;
    }
  }

  &-list {
    width: 200px;
    padding: 8px;
    background-color: $white;
    border: 1px solid $border;
    border-radius: 4px;
  }

  &-item {
    a,
    button {
      @include flexbox(start);
      @include text-style(16, $primary);
      width: 100%;
      height: 44px;
      padding: 0 8px;
      border-radius: 2px;

      &:hover {
        background-color: $background;
      }
    }
  }
}
