.product-inquiry {
  .inquiry-empty {
    @include text-style(16, $secondary);
    text-align: center;
    padding: 48px 0;
  }

  @include mobile-only {
    padding-bottom: 0;

    &.is-open {
      padding-bottom: 20px;

      .product-section-header .text-button,
      .product-section-content {
        display: block;
      }

      .product-section-header .icon-button {
        display: none;
      }
    }

    .product-section-header .text-button,
    .product-section-content {
      display: none;
    }
  }

  @include responsive(T) {
    .inquiry-empty {
      padding: 28px 0;
    }
  }
}