.product-review {
  .review-empty {
    @include text-style(16, $secondary);
    text-align: center;
    padding: 36px;

    strong {
      color: $blue;
    }
  }

  .review-item {
    border-bottom: 1px solid $border;

    &:last-child {
      border-bottom: 0;
    }
  }

  @include responsive(T) {
    .review-empty {
      padding: 16px 0;
    }
  }
}