.global-header {
  width: 100%;
  height: $gnb-height-sm + $lnb-height-sm;

  .gnb,
  .lnb {
    position: fixed;
    left: 0;
    width: 100%;
  }

  .gnb {
    top: 0;
  }

  .lnb {
    top: 50px;
  }

  @include responsive(T) {
    height: $gnb-height-md + $lnb-height-md;

    .lnb {
      top: $gnb-height-md;
    }
  }
}
